/**
 * brandung helpers.scss v1.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2014-03-14
 * MIT License (MIT)
 */


/* ==========================================================================
   Helper classes
   ========================================================================== */

.util-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.util-left {
	float: left;
}

.util-right {
	float: right;
}

.util-center {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.util-clear {
	clear: both;
}

.util-text-right {
	text-align: right;
}

.util-text-left {
	text-align: left;
}

.util-text-center {
	text-align: center;
}

.util-show-grid {
	[class*="col-"] {
		background: grey;
		outline: 1px solid red;
	}

	header {
		background: rgba(green, .5);
	}

	footer {
		background: rgba(cyan, .5);
	}
}

.util-reset-margin {
	margin: 0 !important;

	&-top {
		margin-top: 0 !important;
	}

	&-bottom {
		margin-bottom: 0 !important;
	}
}

/** + bootstrap visibility utilities */
.util-hidden,
.util-visible-xs,
.util-visible-sm,
.util-visible-m,
.util-visible-l,
.util-visible-xl {
	display: none !important;
}

// todo integrate in variables partial
$sizes: (
		'xs', 's', 'm', 'l', 'xl'
);

@each $size in $sizes {
	//$breakpoint-variable:
	@include respondMin(map-get($breakpoints, 'min-' + #{$size})) {
		.util-visible-#{$size} {
			display: block !important;
		}

		span.util-visible-#{$size} {
			display: inline !important;
		}

		.util-hidden-#{$size} {
			display: none !important;
		}
	}
}

