/**
 * brandung variables.scss v2.0.0
 *
 * Copyright brandung GmbH & Co.KG
 * http://www.brandung.de/
 *
 * Date: 2014-09-23
 * MIT License (MIT)
 */

/* Base sizes */
$base-em: 16;

$featurephone: 320;
$smartphone: 480;
$tablet: 768;
$desktop: 992;
$retina: 1200;

/* Body font size */
$body-font-size-px: 16;
$body-font-size: percentage( ($body-font-size-px / $base-em) * 100 / 100 ); 	// in percent

/* Device widths */

/* Container width */
$container-max-width: $retina;							// in px without unit!
$container-min-width: $featurephone;					// in px without unit!

// Number of columns in the grid.
$grid-columns: 12 !default;						// Padding between columns.
$grid-gutter-width: 30px !default;				// Gets divided in half for the left and right.

$breakpoint-min-xs: pxToEm($featurephone);		//=> mobile: min-width 320px
$breakpoint-min-s: pxToEm($smartphone);			//=> large mobile: min-width 480px
$breakpoint-min-m: pxToEm($tablet);				//=> tablet: min-width 768px
$breakpoint-min-l: pxToEm($desktop);			//=> desktop: min-width 992px
$breakpoint-min-xl: pxToEm($retina);			//=> extra large desktop: min-width 1200px

// So media queries don't overlap when required, provide a maximum
$breakpoint-max-xs: pxToEm($smartphone - 1); 	//=> mobile: max-width 479px
$breakpoint-max-s: pxToEm($tablet - 1);			//=> large mobile: max-width 767px
$breakpoint-max-m: pxToEm($desktop - 1);		//=> tablet: max-width 991px
$breakpoint-max-l: pxToEm($retina - 1);			//=> desktop: max-width 1199px

/* Colors */
$black: #000 !default;
$white: #fff !default;
$grey: #555 !default;
$grey-dark: darken($grey, 15%) !default;
$grey-light: lighten($grey, 15%) !default;

/* Scaffolding */
$body-background: $white !default;
$background-color: $white !default;
$border-color: $grey !default;
$border-color-form: $grey !default;
$ci-color: #c00 !default;
$text-color: $grey-dark !default;
$error-color: red !default;
$success-color: green !default;
$info-color: yellow !default;

/* Links */
$link-color: $ci-color !default;
$link-color-hover: darken($link-color, 15%) !default;
